body{
  overflow: hidden;
  
}

.sidebar {
  width: 18%;
  background-color: #b5a7a7; /* Light gray background */
  color: #333; /* Text color */
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

.sectionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionList li {
  cursor: pointer;
  padding: 5px 0; 
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sectionList li:hover {
  background-color: #e0e0e0;
}

.sectionList a {
  text-decoration: none;
  color: #333; /* Inherit text color from parent */
  display: block;
  padding: 10px; /* Adjust padding for better spacing */
}

.sectionList a:hover {
  text-decoration: underline;
  background-color: #e0e0e0; /* Lighter shade of gray on hover */
  color: #333; /* Ensure text color remains unchanged on hover */
}

.user {
  text-align: center;
  margin-bottom: 30px;
}

.userName {
  margin-top: 10px;
}

.userRole {
  color: #666;
}

.sections {
  text-align: center;
}

.sectionTitle {
  margin-bottom: 20px;
}

.mainContent {
  width: 82%;
  margin-left: 20%; 
  overflow-y: none;
  /* background: linear-gradient(to bottom right, #b0c4de, #ffffff); 
  transition: background 0.5s ease;  */
}

.mainImage {
  display: block;
  margin: 40px auto;
  max-width: 100%; 
  height: auto;
}

.section {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.section.active {
  background-color: #f0f0f0;
}
/* AboutPage.css */
.about-container {
  padding: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: linear-gradient(to bottom right, #b0c4de, #ffffff); /* Peaceful gradient background */
  transition: background 0.5s ease; /* Smooth transition effect */
  height: calc(100vh - 100px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #333;
}

.about-content {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.about-highlight {
  color: #ff6f61;
  font-weight: bold;
}

/* project css */
.project-container {
  padding: 50px;
  text-align: center;
  background: linear-gradient(to bottom right, #b0c4de, #ffffff); /* Peaceful gradient background */
  transition: background 0.5s ease; /* Smooth transition effect */
  height: calc(100vh - 100px); 
}


.project-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-box {
  width: calc(50% - 20px);
  max-width: 450px;
  border: 1px solid #ccc;
  padding: 45px 20px;
  border-radius: 10px;
  background-color: #f8f9fa;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-name {
  font-size: 2rem;
  margin-bottom: 200px;
  color: #353232;
}

.project-tech {
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

.project-button {
  margin-top: auto;
  align-self: center;
  background-color: #8e24aa;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background 0.3s ease;
}

.project-button:hover {
  background-color: #6a1b9a;
}


.project-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-width: 80%;
}

.project-modal h3 {
  margin-bottom: 20px;
  color: #333;
}

.project-modal h4 {
  margin-bottom: 10px;
  color: #333;
}

.project-modal p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* experience css */

.experience-container {
  /* padding: 30px 0; */
  padding: 50px;
  margin: 0;
  /* width: 100%; */
  overflow-x: hidden; 
  background: linear-gradient(to bottom right, #b0c4de, #ffffff); 
  transition: background 0.5s ease; 
  height: auto;
}
.experience-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2c3e50;
  font-size: 36px; 
  font-weight: bold;
}

.experience-divider {
  margin-bottom: 20px;
}

.experience-details,
.experience-project-detail,
.experience-technologies,
.experience-contribution,
.experience-outcome {
  margin-top: 20px;
  margin-bottom: 20px;
}

.experience-title {
  margin-bottom: 10px;
  color: #333; 
  font-size: 24px; 
  font-weight: bold; 
}

.experience-duration {
  margin-bottom: 10px;
  color: #666; 
  font-size: 18px; 
}

.project-detail-heading,
.technologies-heading,
.contribution-heading,
.outcome-heading {
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold; 
}

.project-detail-description,
.technologies-list,
.contribution-description,
.outcome-description {
  color: #444;
  font-size: 16px; 
  line-height: 1.6; 
}

/* skills */
.skill-container {
  padding: 50px;
  background: linear-gradient(to bottom right, #b0c4de, #ffffff);
  transition: background 0.5s ease; 
  height: calc(100vh - 0px); 
}

.skill-heading {
  margin-bottom: 30px;
  color: #2c3e50; 
}

.skill-grid {
  border: none;
  margin-top: 30px;
}

.category-title {
  margin-bottom: 20px;
  color: #666;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-list li {
  margin-bottom: 10px;
  color: #333; /* Adjust text color */
  font-size: 16px; /* Adjust font size */
}

.skill-category {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* background-color: #f8f9fa; Adjust background color */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 600px) {
  .skill-category {
    margin-bottom: 20px;
  }
}

/* education css */
.education-container {
  padding: 50px;
  margin: 0;
  overflow-x: hidden; 
  background: linear-gradient(to bottom right, #b0c4de, #ffffff); 
  transition: background 0.5s ease;
  height: calc(100vh - 0px); 
}

.education-heading {
  margin-bottom: 20px;
  color: #2c3e50; 
  font-size: 36px;
  font-weight: bold; 
}

.education-divider {
  margin-bottom: 30px;
}

.education-details {
  margin-top: 10px;
  margin-bottom: 40px;
}

.education-title {
  margin-bottom: 10px;
  color: #2c3e50; 
  font-size: 20px; 
  font-weight: bold;
}

.education-school,
.education-year,
.education-location {
  margin-bottom: 10px;
  color: #666;
  font-size: 18px; 
}
/* contact */
.contact-container {
  padding: 60px;
  background: linear-gradient(to bottom right, #b0c4de, #ffffff);
  transition: background 0.5s ease;
  height: calc(100vh - 0px); 
}

.contact-heading {
  margin-bottom: 20px;
  color: #2c3e50; 
  font-size: 36px; 
  font-weight: bold; 
}

.contact-divider {
  margin-bottom: 30px;
}

.contact-details {
  margin-top: 30px;
  margin-bottom: 40px;
}

.contact-title {
  margin-bottom: 10px;
  color: #2c3e50;
  font-size: 20px; 
  font-weight: bold;
}

.contact-link {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.contact-link:hover {
  text-decoration: underline;
}
